temp_responsive.html

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>DavaViz for Everyone: Responsive Maps With D3 | Visible Data</title>

	<link rel="stylesheet" type="text/css" href="/visible-data/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/visible-data/css/utilities.css">
	
	<link rel="stylesheet" type="text/css" href="/visible-data/components/highlightjs/styles/default.css">
	
	
	

	<link rel="alternate" type="application/rss+xml" title="" href="http://eyeseast.github.com/visible-data/feed.xml">
	
	
	<script src="/visible-data/components/d3/d3.min.js" type="text/javascript"></script>
	
	<script src="/visible-data/components/colorbrewer/colorbrewer.js" type="text/javascript"></script>
	
	<script src="/visible-data/components/underscore/underscore-min.js" type="text/javascript"></script>
	
	<script src="/visible-data/components/queue-async/queue.min.js" type="text/javascript"></script>
	
	<script src="/visible-data/components/topojson/topojson.min.js" type="text/javascript"></script>
	
	<script src="/visible-data/components/jquery/jquery.min.js" type="text/javascript"></script>
	
	<script src="/visible-data/components/bootstrap/js/tooltip.js" type="text/javascript"></script>
	
	<script src="/visible-data/components/highlightjs/highlight.pack.js" type="text/javascript"></script>
	

</head>
<body>
	<div class="container">
	
	<header class="page-header">
		
		
			
			<h3><a href="/visible-data/">Visible Data</a></h3>
			
			<div class="row">
				<h1 class="col-md-8">DavaViz for Everyone: Responsive Maps With D3</h1>
				<h2 class="quiet col-md-4 right">Aug 26, 2013</h2>
			</div>
		
		

	</header>

	<div class="content row">
	<article class="post col-md-8">
	<style type="text/css">
path.land {
    fill: #eee;
    stroke: #ddd;
}

path.state {
    stroke: #eee;
    stroke-width: 1.5;
}
</style>

<p>I spent an hour this weekend updating this site to <a href="http://getbootstrap.com/">Bootstrap 3</a>, making the site responsive (and mobile first!) by default. That means the next step is to make visualizations that can handle a browser of any size, too.</p>

<p>Let&#39;s make maps and charts that resize automatically and work everywhere.</p>

<h2>Part One: Maps</h2>

<p>D3 actually makes this fairly easy.</p>

<ol>
<li>Start with a responsive framework.</li>
<li>Size and scale SVG elements based on thier containers.</li>
<li>Resize when the window size changes.</li>
</ol>

<p>Here&#39;s a working example, using data from the new <a href="http://beta.censusreporter.org/">CensusReporter</a>. In this case, I&#39;m comparing the <a href="http://beta.censusreporter.org/compare/01000US/040/table/?release=acs2011_1yr&amp;table=B15003">percentage of adults over 25 years old with a bachelor&#39;s degree or higher</a>.</p>

<div id="map"></div>

<h3>1. Start with a responsive framework</h3>

<p>I&#39;m using Bootstrap, but <a href="http://foundation.zurb.com/">Foundation</a> or any other framework will do fine. Or roll your own. The point is that you want everything responding to changes in the viewport size. This makes the next step easier.</p>

<h3>2. Size and scale SVG elements based on thier containers.</h3>

<p>I used to hard-code dimensions into my maps and charts. Often, this was already duplicating what I&#39;d done in CSS, and it anchored the chart to a certain viewport size. Not on a 13-inch MacBook Pro? Tough.</p>

<p>Here&#39;s what I have at the top of my code now:</p>
<div class="highlight"><pre><code class="text language-text" data-lang="text">var margin = {top: 10, left: 10, bottom: 10, right: 10}
  , width = parseInt(d3.select(&#39;#map&#39;).style(&#39;width&#39;))
  , width = width - margin.left - margin.right
  , mapRatio = .5
  , height = width * mapRatio;
</code></pre></div>
<p>The <code>width</code> variable is most important here. I set it based on the computed style of the container element, in this case <code>#map</code>. Now, use this to set the scale on your map projection:</p>
<div class="highlight"><pre><code class="text language-text" data-lang="text">var projection = d3.geo.albersUsa()
    .scale(width)
    .translate([width / 2, height / 2]);

var path = d3.geo.path()
    .projection(projection);
</code></pre></div>
<p>This gets us 90% of the way to responsiveness, because the map will be rendered at the right size on load. Pull this up on your phone, and it&#39;ll fit. Same for your giant desktop.</p>

<p>But it won&#39;t adjust if you rotate your phone (or tablet). As much as web developers are the only people who test the responsiveness of sites by resizing the browser, real users really do turn their devices sideways (even by accident). And it&#39;s no fun reloading a bunch of GIS data on your phone.</p>

<h3>3. Resize when the window size changes.</h3>

<p>This turns out to be simpler to solve than I expected. You need to catch <code>window.onresize</code>, and you need to resize the map. Do this by recalculating the container size, adjusting the projection&#39;s scale, then re-running the function that originally drew the map. Here&#39;s the code:</p>
<div class="highlight"><pre><code class="text language-text" data-lang="text">d3.select(window).on(&#39;resize&#39;, resize);

function resize() {
    // adjust things when the window size changes
    width = parseInt(d3.select(&#39;#map&#39;).style(&#39;width&#39;));
    width = width - margin.left - margin.right;
    height = width * mapRatio;

    // update projection
    projection
        .translate([width / 2, height / 2])
        .scale(width);

    // resize the map container
    map
        .style(&#39;width&#39;, width + &#39;px&#39;)
        .style(&#39;height&#39;, height + &#39;px&#39;);

    // resize the map
    map.select(&#39;.land&#39;).attr(&#39;d&#39;, path);
    map.selectAll(&#39;.state&#39;).attr(&#39;d&#39;, path);
}
</code></pre></div>
<p>The reason the last two lines work is D3&#39;s <a href="http://bost.ocks.org/mike/join/">data-binding</a>. Remember, each selection is bound to an array of data, and each datum is stored on a corresponding element as <code>__data__</code>. This means you can access it later by simply reselecting the elements, and you can use it by re-setting the <code>d</code> attribute.</p>

<p>The map above is obviously missing things: There&#39;s no legend, first and foremost. I&#39;ll get to that in my next post. The interaction is also pretty sparse and totally mouse-driven (no hovering on mobile).</p>

<p>This also might not be the best way to present the data, so I&#39;ll circle back and do a responsive chart in post three of this series.</p>

<script type="x-jst" id="tooltip-template">
<h5><%= Name %></h5>
<p><%= formats.percent(percent) %> have a BA degree or higher.</p>
</script>

<script type="text/javascript">
var urls = {
    us: "/visible-data/data/us.json",
    data: "/visible-data/data/census/bachelors-degrees.csv"
};

var margin = {top: 10, left: 10, bottom: 10, right: 10}
  , width = parseInt(d3.select('#map').style('width'))
  , width = width - margin.left - margin.right
  , mapRatio = .5
  , height = width * mapRatio;

var formats = {
    percent: d3.format('%')
};

// projection and path setup
var projection = d3.geo.albersUsa()
    .scale(width)
    .translate([width / 2, height / 2]);

var path = d3.geo.path()
    .projection(projection);

// scales and axes
var colors = d3.scale.quantize()
    .range(colorbrewer.Greens[7]);

// make a map
var map = d3.select('#map').append('svg')
    .style('height', height + 'px')
    .style('width', width + 'px');

// queue and render
queue()
    .defer(d3.json, urls.us)
    .defer(d3.csv, urls.data)
    .await(render);

// catch the resize
d3.select(window).on('resize', resize);

// template, for later
var template = _.template(d3.select('#tooltip-template').html());

function render(err, us, data) {

    var land = topojson.mesh(us, us.objects.land)
      , states = topojson.feature(us, us.objects.states);

    window.us = us;

    data = window.data = _(data).chain().map(function(d) {
        d.Total = +d.Total;
        d["Bachelor's degree"] = +d["Bachelor's degree"];
        d.percent = d["Bachelor's degree"] / d.Total;
        return [d.Name, d];
    }).object().value();

    colors.domain([
        0, 
        d3.max(d3.values(data), function(d) { return d.percent; })
    ]);

    map.append('path')
        .datum(land)
        .attr('class', 'land')
        .attr('d', path);

    var states = map.selectAll('path.state')
        .data(states.features)
      .enter().append('path')
        .attr('class', 'state')
        .attr('id', function(d) { 
            return d.properties.name.toLowerCase().replace(/\s/g, '-'); 
        })
        .attr('d', path)
        .style('fill', function(d) {
            var name = d.properties.name
              , value = data[name] ? data[name].percent : null;

            return colors(value);
        });

    states.on('mouseover', tooltipShow)
        .on('mouseout', tooltipHide);

}

function resize() {
    // adjust things when the window size changes
    width = parseInt(d3.select('#map').style('width'));
    width = width - margin.left - margin.right;
    height = width * mapRatio;

    // update projection
    projection
        .translate([width / 2, height / 2])
        .scale(width);

    // resize the map container
    map
        .style('width', width + 'px')
        .style('height', height + 'px');

    // resize the map
    map.select('.land').attr('d', path);
    map.selectAll('.state').attr('d', path);
}

function tooltipShow(d, i) {
    var datum = data[d.properties.name];
    if (!datum) return;

    datum.formats = formats;

    $(this).tooltip({
        title: template(datum),
        html: true,
        container: map.node().parentNode,
        placement: 'auto'
    }).tooltip('show');
}

function tooltipHide(d, i) {
    $(this).tooltip('hide');
}

// highlight my code blocks
d3.selectAll('pre code').each(function() {
    var code = d3.select(this)
      , highlight = hljs.highlight('javascript', code.html());

    code.html(highlight.value);
});

</script>

</article>

<div id="comments" class="col-md-8">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = "visibledata", // required: replace example with your forum shortname
	    	disqus_developer = location.hostname === "localhost",
	    	disqus_title = "DavaViz for Everyone: Responsive Maps With D3",
	    	disqus_identifier = "/2013/08/26/responsive-d3";

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

	</div>

	

	<footer>
		<p>Built by <a href="http://chrisamico.com">Chris Amico</a> using <a href="http://jekyllrb.com/">Jekyll</a>.</p>
	</footer>
	</div>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32005313-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>